@{
    ViewBag.Title = "权限列表";
    Layout = "~/Views/Shared/_LayoutTree.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>权限列表</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> 主页</a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-bar-chart"></i> 权限管理</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="section-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="关键字" v-model="search.keywords">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" id="alert-search" v-on:click="btnSearch">
                                <i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <!--显示当前的所有的角色信息-->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">权限树</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="zTreeDemoBackground left">
                        <ul id="managementTree" class="ztree"></ul>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-10">
            <div class="box">
                <!--数据列表页头部-->
                <div class="box-header with-border">
                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toAdd()" v-if="checkAssign('management.add',menuManagementList)==true">新增</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="j-alert-table" class="table table-hover table-bordered datatable">
                        <thead>
                            <tr class="show-datatable-list-title">
                                <th>权限编号</th>
                                <th>名称</th>
                                <th>权限值</th>
                                <th>权限类型</th>
                                <th>排序</th>
                                <th>平台编号</th>
                                <th>启用状态</th>
                                <th class="operation">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in dataList">
                                <td>{{item.ManagementNo}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.Value}}</td>
                                <td>{{item.Type|formateMenuType(managmentTypeList)}}</td>
                                <td>{{item.Sort}}</td>
                                <td>{{item.PlatformNo|formatePlatform(platformList)}}</td>
                                <td>{{item.Enabled|formateEnabled(enabledList)}} </td>
                                <td class="operation">
                                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toEdit(item.id)" v-if="checkAssign('management.update',menuManagementList)==true">修改</a>
                                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toDelete(item.id)" v-if="checkAssign('management.delete',menuManagementList)==true">删除</a>
                                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toAssign(item.ManagementNo)" v-if="item.Type==2 && checkAssign('management.menu.assign',menuManagementList)==true">菜单分配</a>
                                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toGroupAssign(item.ManagementNo)" v-if="item.Type==3 && checkAssign('management.menu.assign',menuManagementList)==true">权限分配</a>
                                </td>
                            </tr>
                        </tbody>
                        <!--insert tbody here-->
                    </table>
                </div>
                <templatepage v-on:getdata="GetList" url="@Url.Action("GetPsManagementList", "Management")" v-bind:prop="prop"></templatepage>
            </div>
        </div>
        <!-- /.box -->
    </div>
</section>
<!-- /.content -->
<script>
        var vm = new Vue({
            el: "#section-content",
            data: {
                updateJumpUrl: "@Url.Action("ManagementUpdate", "Management")",
                addJumpUrl: "@Url.Action("ManagementAdd", "Management")",
                deleteUrl: "@Url.Action("PsManagementDelete", "Management")",
                assginUrl: "@Url.Action("MenuAssign", "Menu")",
                assginGroupUrl: "@Url.Action("ManagementGroupAssign", "Management")",
                GetListUrl: "@Url.Action("GetPsManagementList", "Management")",
                getPlatformOptionValueUrl: "@Url.Action("GetOptionValues", "Platform")",
                GetUserManagementListUrl: "@Url.Action("GetUserManagementList", "Management")",
                getDictionaryOptionValueUrl: "@Url.Action("GetOptionValues", "Dictionary", new { dicType = PermissionSystem.UI.WebSites.Global.AppBusiness.DictionaryKey_ManagementType })",
                dataList: [],
                platformList: {},
                enabledList: [
                    { Name: '启用', Value: 1 },
                    { Name: '停用', Value: 0 },
                ],
                managmentTypeList: [],
                search: { keywords: "", ManagementNo: -1 }
            },
            filters: {
                formateEnabled: function (enabled, list) {
                    let result = enabled;
                    Array.from(list).map(res => {
                        if (enabled == res.Value) {
                            result = res.Name;
                            return result;
                        }
                    });
                    return result;
                },
                formateMenuType: function (type, list) {
                    let result = type;
                    Array.from(list).map(res => {
                        if (type == res.DicKey) {
                            result = res.Name;
                            return result;
                        }
                    });
                    return result;
                },
                formatePlatform: function (PlatformNo, list) {
                    let result = PlatformNo;
                    Array.from(list).map(res => {
                        if (PlatformNo == res.Value) {
                            result = res.Name;
                            return result;
                        }
                    });
                    return result;
                }

            },
            computed: {
                prop: function () {
                    return { keywords: this.search.keywords, ManagementNo: this.search.ManagementNo }
                }
            },
            created: function () {
                this.initPlatformList();
                this.getManagmentTypeList();
                this.Init();
            },
            methods: {
                Init: function () {
                    var _self = this;
                    _self.menuManagementList = {};
                    axios.get(this.GetUserManagementListUrl)
                        .then(function (response) {
                            if (response.status == 200) {
                                _self.menuManagementList = response.data;
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                initPlatformList: function () {
                    var _self = this;
                    _self.platformList = {};
                    axios.get(this.getPlatformOptionValueUrl)
                        .then(function (response) {
                            if (response.status == 200) {
                                _self.platformList = response.data;
                                if (response.data.length > 0) {
                                    _self.dataItem.PlatformNo = response.data[0].Value
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                getManagmentTypeList: function () {
                    var _self = this;
                    _self.managmentTypeList = {};
                    axios.get(this.getDictionaryOptionValueUrl)
                        .then(function (response) {
                            if (response.status == 200) {
                                if (response.data.length > 0) {
                                    _self.managmentTypeList = response.data;
                                }
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                GetList: function (data) {
                    this.dataList = data;
                },
                toAdd: function () {
                    window.location.href = this.addJumpUrl;
                },
                toEdit: function (_id) {
                    window.location.href = this.updateJumpUrl + '?id=' + _id;
                },
                toAssign: function (_ManagementNo) {
                    window.location.href = this.assginUrl + '?ManagementNo=' + _ManagementNo;
                },
                toGroupAssign: function (_ManagementNo) {
                    window.location.href = this.assginGroupUrl + '?ManagementNo=' + _ManagementNo;
                },
                
                toDelete: function (_id) {
                    axios.post(this.deleteUrl, { id: _id })
                     .then(function (response) {
                         if (response.status == 200) {
                             alert(response.data.msg);
                             if (response.data.code == 200) {
                                 window.location.reload();
                             }
                         }
                     })
                     .catch(function (error) {
                         console.log(error);
                     });
                },
                btnSearch: function () {
                    if (this.$children.length > 0) {
                        this.$children[0].go(1);
                    }
                },
                checkAssign: function (value, list) {
                    let result = false;
                    if (list.length > 0) {
                        Array.from(list).map(res => {
                            if (value == res.Code) {
                                result = true;
                            }
                        });
                    }
                    return result;
                }
            }
    });
    //定义接收节点数据的变量
    var zNodes;
    //节点配置信息
    var setting = {
        data: {
            key: {
                name:"Name"
            },
            //控制子节点加载时候是加载还是折叠
            simpleData: {
                enable: true,
                idKey: "TreeNo",
                pIdKey: "ParentNo",
                rootPId: "0"
            },
        },
        callback: {
            onClick: function (event, treeId, treeNode) {
                vm.search.ManagementNo = treeNode.TreeNo;
                if (vm.$children.length > 0) {
                    vm.$children[0].go(1);
                }
            }
        }
    };
    $(function () {
        //获取访问方法获取节点数据
        $.getJSON("@Url.Action("GetManagementTreeList", "Management")", function (res) {
            zNodes = res;
            //初始化树节点
            $.fn.zTree.init($("#managementTree"), setting, zNodes);
        });
    });
</script>

