@{
    ViewBag.Title = "新增";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>菜单分配</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> 主页</a></li>
        <li><a href="@Url.Action("MenuList","Menu")"><i class="fa fa-bar-chart"></i> 菜单管理</a></li>
    </ol>
</section>
<section class="content" id="section-content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">权限菜单分配</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <form role="form" id="quickForm">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="ManagementNo">权限编号</label>
                                    <input type="text" name="ManagementNo" class="form-control" id="ManagementNo" v-model="dataItem.ManagementInfo.ManagementNo" placeholder="权限编号" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="Name">权限名称</label>
                                    <input type="text" name="Name" class="form-control" id="Name" v-model="dataItem.ManagementInfo.Name" placeholder="权限名称" readonly="readonly">
                                </div>
                                <label for="exampleInputPassword1">菜单列表</label>
                                <div class="form-group" v-for="(option,index) in dataItem.optionValues">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="custom-control-input"
                                                   v-on:click="CheckItem(option)"
                                                   v-bind:value=option.Value v-model=option.isCheck
                                                   v-bind:data=option.Name>{{option.Name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary" v-on:click="submit()">保存</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</section>
<!-- Content Wrapper. Contains page content -->
<!-- /.content-wrapper -->
<script>
        var vm = new Vue({
            el: "#section-content",
            data: {
                listJumpUrl: "@Url.Action("ManagementList", "Management")",
                assignPostUrl: "@Url.Action("MenuAssignUpdate", "Menu")",
                getItemUrl: "@Url.Action("GetMenuAssign", "Menu")",
                dataItem: {},
                postData: {
                    ManagementNo: "@Request.QueryString["ManagementNo"].ToString()",
                    MenuNos: []
                },
            },
            created: function () {
                this.Init();
            },
            methods: {
                Init: function () {
                    var _self = this;
                    _self.dataItem = {};
                    axios.get(this.getItemUrl, { params: { ManagementNo: this.postData.ManagementNo } } )
                     .then(function (response) {
                         if (response.status == 200) {
                             _self.dataItem = response.data;
                         }
                     })
                     .catch(function (error) {
                         console.log(error);
                        });
                },
                submit: function () {
                    var _self = this;
                    _self.postData.MenuNos = _self.dataItem.optionValues.filter(item => item.isCheck).map(item => item.Value);
                    axios.post(this.assignPostUrl, this.postData)
                     .then(function (response) {
                         if (response.status == 200) {
                             alert(response.data.msg);
                             if (response.data.code == 200) {
                                 window.location.href = _self.listJumpUrl;
                             }
                         }
                     })
                     .catch(function (error) {
                         console.log(error);
                     });
                },
                CheckItem: function (option) {
                    option.isCheck = !option.isCheck;
                    console.log(option.isCheck);
                },

            }
        });
</script>
