@{
    ViewBag.Title = "列表";
    Layout = "~/Views/Shared/_LayoutTree.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>用户列表</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> 主页</a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-bar-chart"></i> 用户管理</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content" id="section-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="关键字" v-model="search.keywords">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" id="alert-search" v-on:click="btnSearch">
                                <i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <!--显示当前的所有的角色信息-->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">机构树</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="zTreeDemoBackground left">
                        <ul id="zTree" class="ztree"></ul>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-10">
            <div class="box">
                <!--数据列表页头部-->
                <div class="box-header with-border">
                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toAdd()" v-if="checkAssign('userAdd',menuManagementList)==true">新增</a>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="j-alert-table" class="table table-hover table-bordered datatable">
                        <thead>
                            <tr class="show-datatable-list-title">
                                <th>主键</th>
                                <th>用户账号</th>
                                <th>用户名</th>
                                <th>是否过期</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <th>个性签名</th>
                                <th class="operation">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in dataList">
                                <td>{{item.id}}</td>
                                <td>{{item.UserNo}}</td>
                                <td>{{item.UserName}}</td>
                                <td>{{item.IsExpire}}</td>
                                <td>{{item.Phone}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.Signature}}</td>
                                <td class="operation">
                                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toRoleAssign(item.UserNo)" v-if="checkAssign('user.role.assign',menuManagementList)==true">角色授权</a>
                                    <a class="btn btn-default btn-sm" href="javascript:void(0)" v-on:click="toOrgAssign(item.UserNo)" v-if="checkAssign('user.org.assign',menuManagementList)==true">机构授权</a>
                                </td>
                            </tr>
                        </tbody>
                        <!--insert tbody here-->
                    </table>
                </div>
                <templatepage v-on:getdata="GetList" url="@Url.Action("GetUcUsersList", "User")" v-bind:prop="prop"></templatepage>
            </div>
        </div>
        <!-- /.box -->
    </div>
</section>
<!-- /.content -->
<script>
        var vm = new Vue({
            el: "#section-content",
            data: {
                roleAssignUrl: "@Url.Action("RolesAssign", "Roles")",
                addJumpUrl: "@Url.Action("UserAdd", "User")",
                deleteUrl: "@Url.Action("UcUsersDelete", "User")",
                GetListUrl: "@Url.Action("GetUcUsersList", "User")",
                orgAssignUrl: "@Url.Action("UserOrgAssign", "User")",
                GetUserManagementListUrl: "@Url.Action("GetUserManagementList", "Management")",
                GetTreeListUrl: "@Url.Action("GetOrganizationTreeList", "Organization")",
                dataList: [],
                enabledList: [
                    { Name: '启用', Value: 1 },
                    { Name: '停用', Value: 0 },
                ],
                search: { keywords: ""}
            },
            filters: {
                formateEnabled: function (enabled, list) {
                    let result = enabled;
                    list.map(res => {
                        if (enabled == res.Value) {
                            result = res.Name;
                        }
                    });
                    return result;
                }
            },
            computed: {
                prop: function () {
                    return { keywords: this.search.keywords }
                }
            },
            created: function () {
                this.Init();
            },
            methods: {
                Init: function () {
                    var _self = this;
                    _self.menuManagementList = {};
                    axios.get(this.GetUserManagementListUrl)
                        .then(function (response) {
                            if (response.status == 200) {
                                _self.menuManagementList = response.data;
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                GetList: function (data) {
                    this.dataList = data;
                },
                toRoleAssign: function (_UserNo) {
                    window.location.href = this.roleAssignUrl + '?UserNo=' + _UserNo;
                },
                toOrgAssign: function (_UserNo) {
                    window.location.href = this.orgAssignUrl + '?UserNo=' + _UserNo;
                },
                toAdd: function () {
                    window.location.href = this.addJumpUrl;
                },
                toDelete: function (_id) {
                    axios.post(this.deleteUrl, { id: _id })
                     .then(function (response) {
                         if (response.status == 200) {
                             alert(response.data.msg);
                             if (response.data.code == 200) {
                                 window.location.reload();
                             }
                         }
                     })
                     .catch(function (error) {
                         console.log(error);
                     });
                },
                btnSearch: function () {
                    if (this.$children.length > 0) {
                        this.$children[0].go(1);
                    }
                },
                checkAssign: function (value, list) {
                    let result = false;
                    if (list.length > 0) {
                        list.map(res => {
                            if (value == res.Code) {
                                result = true;
                            }
                        });
                    }
                    return result;
                }
            }
    });
    //定义接收节点数据的变量
    var zNodes;
    //节点配置信息
    var setting = {
        data: {
            key: {
                name: "Name"
            },
            //控制子节点加载时候是加载还是折叠
            simpleData: {
                enable: true,
                idKey: "TreeNo",
                pIdKey: "ParentNo",
                rootPId: "0"
            },
        },
        callback: {
            onClick: function (event, treeId, treeNode) {
                vm.search.OrgNo = treeNode.TreeNo;
                if (vm.$children.length > 0) {
                    vm.$children[0].go(1);
                }
            }
        }
    };
    $(function () {
        //获取访问方法获取节点数据
        $.getJSON(vm.GetTreeListUrl, function (res) {
            zNodes = res;
            //初始化树节点
            $.fn.zTree.init($("#zTree"), setting, zNodes);
        });
    });
</script>

